{% extends 'base.html' %}
{% block title %}Список користувачів{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
    <h1>Список користувачів</h1>
    <p>Загальна кількість користувачів: {{ user_count }}</p>

    {% if users %}
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Ім'я</th>
                <th>Email</th>
                <th>Інформація про користувача</th>
                <th>Час останнього входу</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    {% if user.about_me is none %}
                    <td>Користувач не додав інформації про себе.</td>
                    {% else %}
                    <td>{{ user.about_me }}</td>
                    {% endif %}
                    {% if user.last_seen is none %}
                    <td>Немає інформації про час останнього входу користувача.</td>
                    {% else %}
                    <td>{{ user.last_seen }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>На жаль, немає зареєстрованих користувачів.</p>
    {% endif %}
{% endblock %}
