alembic
aniso8601
bcrypt
blinker
click
colorama
coverage
exceptiongroup
Flask
Flask-Bcrypt
Flask-HTTPAuth
Flask-JWT-Extended
Flask-Login
flask-marshmallow
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
flask-swagger-ui
Flask-Testing
Flask-WTF
greenlet
iniconfig
itsdangerous
Jinja2
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
packaging
pillow
pluggy
PyJWT
pytest
pytest-cov
pytz
six
SQLAlchemy
tomli
typing_extensions
Werkzeug
WTForms
