{% extends 'base.html' %}
{% import 'render_field.html' as render_field %}
{% block title %}Реєстрація{% endblock %}
{% block nav %}
{% endblock %}
{% block content %}

    <form method="POST" action="{{ url_for('auth.register') }}" novalidate>
        {{ form.hidden_tag() }}
        <table class="table table-hover" style="text-align: center;">
            <tr class="table-primary">
                <td>{{ render_field.render_field(form.username) }}</td>
                <td>{{ render_field.render_field(form.email) }}</td>
                <td>{{ render_field.render_field(form.password) }}</td>
                <td>{{ render_field.render_field(form.confirm_password) }}</td>
            </tr>
            <tr class="table-primary">
                <td colspan="4">{{ render_field.render_field(form.submit) }}</td>
            </tr>
        </table>
    </form>

{% endblock %}
