{% extends 'base.html' %}
{% import 'render_field.html' as render_field %}
<!--  -->
{% block title %}Вхід у профіль{% endblock %}
<!--  -->
{% block nav%}
<li class="nav-item">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit"><a class="nav-link active"
            href="{{ url_for('portfolio') }}">Портфоліо</a></button>
</li>
<li class="nav-item">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit"><a class="nav-link active"
            href="{{ url_for('skills') }}">Мої навички</a></button>
</li>
<li class="nav-item">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit"><a class="nav-link active"
            href="{{ url_for('about') }}">Про проект</a></button>
</li>
<li class="nav-item">
    <button class="btn btn-secondary my-2 my-sm-0"><a class="nav-link active"
            href="{{ url_for('feedback') }}">Відгуки</a></button>
</li>
{% endblock %}
<!--  -->
{% block content %}

<form method="POST" action="{{ url_for('login') }}" novalidate>
{{ form.hidden_tag(form.csrf_token) }}
    <table class="table table-hover" style="text-align: center;">
        <tr class="table-primary">
            <td>{{ form.username.label }}</td>
            <td>{{ form.password.label }}</td>
        </tr>
        <tr class="table-primary">
            <td>{{ render_field.render_field(form.username) }}</td>
            <td>{{ render_field.render_field(form.password) }}</td>
        </tr>
        <tr class="table-primary">
            <td colspan="2">{{ render_field.render_field(form.remember) }}</td>
        </tr>
        <tr class="table-primary">
            <td colspan="2">{{ render_field.render_field(form.submit) }}</td>
        </tr>
    </table>
</form>
{% endblock %}